<div class="row">
  <div class="col-sm-6 ">
    <h1>Настройка Вашего профайла</h1>

    <%= form_for(resource, :as => resource_name,
    :url => registration_path(resource_name),
    :html => { :method => :put, role: "form" }) do |f| %>

    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.email_field :email, :autofocus => true, class: "form-control" %>
        </div>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="row">
      <div class="col-sm-6">
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      </div>
    </div>
    <% end %>

    <div class="form-group">
      <%= f.label "Пароль" %> <i><small>(оставте поле пустым если не хотите менять пароль)</small></i>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password, :autocomplete => "off", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Подтвердите пароль" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Ваш активный пароль" %> <i><small>(пароль нужен для подтверждения изменений)</small></i>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :current_password, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "Имя" %> 
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :first_name, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "Фамилия" %> 
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :last_name, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "Номер мобильного" %> 
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :mobile, class: "form-control" %>
        </div>
      </div>
    </div>
  
    <div class="form-group">
      <%= f.label "Должность" %> 
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :position, class: "form-control" %>
        </div>
      </div>
    </div>

  <div class="form-group">
      <%= f.label "Допольнительная инфрмация" %> 
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :about, class: "form-control" %>
        </div>
      </div>
    </div>





    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Сохранить", class: "btn btn-primary" %> - <%= link_to "Отмена", inside_path %>
      </div>
    </div>

    <% end %>
  </div>
</div>
