<div class="row">
  <div class="col-sm-6 ">
    <h1>Вход</h1>

    <%= form_for(resource, :as => resource_name,
    :url => session_path(resource_name),
    role: "form") do |f| %>

    <div class="form-group">
      <%= f.label "Ваш email" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :email, :autofocus => true, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Пароль" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
    </div>



    <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <%= f.check_box :remember_me %> <%= f.label "Запомнить" %>
        </div>
      </div>
    </div>
    <% end -%>

    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Войти", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>

  </div>
</div>
