<%- model_class = Setting -%>
<h3 class="text-info strong page-header">Панель редактирования опций <small> <%= link_to "<< Вернуться на главную", admin_root_path, class: "btn btn-sm btn-default pull-right" %>
    </small></h3>
    
    <%= render :partial => 'form' %>
