<% title("Профайл пользователя: #{@user.id}") %>
<div class="row">
  <div class="col-sm-6">
    <h3>
      Профайл оператора <small><%= "#{@user.email} - id: #{@user.id}" %></small>
    </h3>
    <p><%= link_to "Back to Users", admin_users_path, class: "btn btn-default" %></p>

    <%= form_for [:admin, @user], :html => { :role => "form" } do |f| %>

    <div class="form-group">
      <%= f.label :email %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Пароль" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "Подтвердите пароль" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.password_field :password_confirmation, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label  "Имя" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "Фамилия" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>
    </div>
    
    <div class="form-group">
      <%= f.label "Телефон" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :mobile, class: "form-control" %>
        </div>
      </div>
    </div>
    
    
    
    <div class="form-group">
      <%= f.label "Должность" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_field :position, class: "form-control" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label "Дополнительная информация" %>
      <div class="row">
        <div class="col-sm-6">
          <%= f.text_area :about, class: "form-control" %>
        </div>
      </div>
    </div>
    
    
    
    <% unless current_user.id == @user.id %>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <%= f.check_box :locked %> <%= f.label :locked, "Is Locked?" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-6">
          <%= f.check_box :admin %> <%= f.label :admin, "Is Admin?" %>
        </div>
      </div>
    </div>
    <% end %>

    <div class="row">
      <div class="col-sm-6">
        <%= f.submit "Сохранить", class: "btn btn-danger" %>
      </div>
    </div>

    <% end %>

  </div>
</div>
