<% if current_user and current_user.admin? %>
  <li><%= link_to "Транзакции", transactions_path %></li>
<% end %>
<% if !user_signed_in? %>
<li><%= link_to "Ввойти", new_user_session_path %></li>
<li><%= link_to "Регистрация", new_user_registration_path %></li>
<% else %>
<li><%= link_to "Мой Профайл", edit_user_registration_path %></li>

<% if current_user.admin? %>
  <li><%= link_to "Панель Админа", admin_root_path %></li>
<% end %>

<li><%= link_to "Выход", destroy_user_session_path, data:{method: :delete} %></li>
<% end %>
