<div class="col-md-6 col-md-offset-3"  data-no-turbolink="true">
  <div class="panel panel-default ">
    <div class="panel-body">
      <%= simple_nested_form_for @account, :html => { :class => 'form-horizontal col-md-12' } do |f| %>
        <%= f.input :card_number, label: 'Номер карты', :required => true %>
        <%= f.input :card_type, collection: Account::CARD_TYPES, selected: Account::CARD_TYPES[1] , label: 'Тип карты'%>
        <%= f.input :last_name, label: 'Фамилия' %>
        <%= f.input :first_name , label: 'Имя'%>
        <%= f.input :middle , label: 'Отчество' %>
        <%#= f.input :dob, as: :string, label: 'Дата Рождения', input_html: {type: :date} %>
        <%-  f.object.dob = "31/12/2012" if f.object.dob? == false  %>
        
        <%= f.input :dob, as: :string, label: "День Рождения" , input_html: { id: 'dob_box',:value => localize(f.object.dob, format: "%d/%-m/%Y") || "10/10/2010"  }, 
               placeholder:'12/29/1998', start_year: Time.now.year - 20, end_year: Time.now.year - 3, order: [:day, :month, :year] %>

               <%= f.input :age,  label: 'Возраст'  ,:include_blank => true, input_html: { min: '3', max: '16', id: 'age_box' }  %>
        <%= f.input :balance , label: 'Баланс Ландов', required: true,  input_html: { min: '0' } %>
      <%= f.button :submit, "Сохранить", :class => 'btn-primary' %>
      <%= link_to "Отмена", accounts_path, :class => 'btn btn-default' %>
      <% end %>
      </div>
    <div class="panel-footer">
    </div>
  </div>
  </div>

<script>
$( document ).ready(function() {

$('#dob_box').on('change', function () {
  
  date = $(this).val();
  age = getAge(date);
  $('#age_box').val(age);
});

$('#age_box').on('change', function () {
  date = $(this).val();
  var age = parseInt(date) 
  dob = getDob(age);
  $('#dob_box').val(dob);
});

function getDob(ageinteger) {
    var year = new Date().getFullYear();
    var birthyear = year - ageinteger;
    var dobstring = "31/12/"+ birthyear;
   // var dob = dob_string;
  //  var birthDate = new Date(dateString);
    //var birthDate = new Date(dateString);
    //var age = today.getFullYear() - birthDate.getFullYear();
    //var m = today.getMonth() - birthDate.getMonth();
    //if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
    //    age--;
   // }
    return dobstring;
}

function getAge(dateString) {
    var today = new Date();
    
    var birthDate = new Date(dateString);
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
        age--;
    }
    return age;
}

});
</script>
